Repository TechsCode-Team/PluginTranslations, pull requests merged in 2021-11, with the labels that each got.

#140 Update InsaneShops_Italian.lang
  Translations/InsaneShops_Italian.lang
Labels: status > completed, type > translation update

#141 [Insane Announcer] Full Polish translation
  Translations/InsaneAnnouncer_Polish.lang
Labels: status > completed, type > translation update

#142 [UltraScoreboards] Polish Translation
  Translations/UltraScoreboards_Polish.lang
Labels: status > completed, type > translation update

#143 Updated CONTRIBUTORS
  CONTRIBUTORS.md
Labels: status > completed

#144 Update CONTRIBUTORS.md
  CONTRIBUTORS.md
Labels: status > completed

#145 Update InsaneShops_Italian.lang
  Translations/InsaneShops_Italian.lang
Labels: status > completed, type > translation update

#146 Translated 570 Phrases in Italian
  Translations/UltraCustomizer_Italian.lang
Labels: status > completed, type > translation update

#147 Update UltraCustomizer_Italian.lang
  Translations/UltraCustomizer_Italian.lang
Labels: status > completed, type > translation update

#149 Update UltraEconomy_German.lang
  Translations/UltraEconomy_German.lang
Labels: status > completed, type > translation update

#148 Update UltraCustomizer_Italian.lang
  Translations/UltraCustomizer_Italian.lang
Labels: status > completed, type > translation update

#150 Update UltraCustomizer_Italian.lang
  Translations/UltraCustomizer_Italian.lang
Labels: status > completed, type > translation fix
